* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background-color: thistle;
}

header {
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    background:purple;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 1px 1px 1px black;

}

.submit-btn {
    display: flex;
    justify-content: column;
    min-width: 550px;
    min-height: 50px;
    margin: 20px auto 20px auto;
    background:purple;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-content: center;
    line-height: 50px;
    padding-left: 30px;
}
.container {
    display: flex; 
    margin: 50px 120px auto 120px;
    font-size: 20px;
    font-weight: bold;
    color: #A03CCB;
}

.high-score {
    text-align: left;
    width: 50%;
}


.timer {
    text-align: right;
    position: absolute;
    width: 85%;
}


.title {
    text-align: center;
    max-width: 660px;
    margin: 130px auto 30px auto;    
}

.heading {
    font-size: 60px;
    
}

.subheading {
    font-size: 20px;
}

#options {
    margin-top: 170px;
}

#question {
   text-align: center;
}

#score-box {
    display: none;
    text-align: center;
    margin-top: 800px;
}

#content-same-row {
    display: flex;
    margin-left: 830px;
    margin-right: 500px;
    justify-content: space-around;
}

#submit-score {
    background: purple;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

.all-done {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
}

.paragraph-text {
    font-size: 25px;
    line-height: 10px;
}
